<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Редагувати оголошення{% else %}Створити оголошення{% endif %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="create-listing-page">
    <div class="container">
        <h1>{% if form.instance.pk %}Редагувати оголошення{% else %}Створити оголошення{% endif %}</h1>
        <form method="POST" enctype="multipart/form-data" class="edit-listing-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Зберегти</button>
        </form>
        <p><a href="{% url 'my_listings' %}" class='btn'>Повернутися до списку оголошень</a></p>
    </div>
</body>

</html>